:root{
    --bg: #24327d;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    .caveat-brush-regular {
        font-family: "Caveat Brush", cursive;
        font-weight: 400;
        font-style: normal;
      }
    min-height: 100px;
}

.hero::before{
    content:'' ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    
    background-image: url(img/kenzie-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero{
    min-height: 100vh;
    
}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
    margin-top: 1rem;
}

.hero h1{
    font-family: 'SPACE';
    src: url('SPACE.ttf')format(truetype);
    font-size: 3rem;
    color: whitesmoke;
    font-weight: 100rem;
}

.hero h4{
    font-size: 1.6rem;
}

.hero p{
    font-size: 1.4rem;
}

.hero a{
    color: #140b49;
    background-color: #8a85bc ;
    box-shadow: var(--shadow);
}

.hero a:hover{
    background-color: #140b49;
    color: #8a85bc;
}

.mynavbar{
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-size: 3.2rem;
}

.mynavbar .nav-link{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}


.home{
    background-image: url(/img/home-bintangkecil.jpg);    
    background-size: cover;
    min-height: 100vh;
    margin-top: -6.4rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.home h1, .info h2, .gallery h2{
    font-family: 'SPACE';
    src: url('SPACE.ttf')format(truetype);
    color: white;
    font-size: 3rem;
    font-weight: bold ;
}

.home h3{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p{
    font-size: 1.1rem;
    color: white;
}

.home h1, .home h3, .home p, .info h2, .info p, .gallery p, .gallery h2{
    text-shadow: var(--shadow);
}

.home .kenzie{
    margin-top: 20px;
}

.home .kenzie img{
    
    width: 30%;
}

.info{
    background-image: url(/img/home-bintangkecil.jpg);
    color: white;
    min-height: 150vh;
    margin-top: -1rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.info alamat{
    font-size: 1.5rem;
}

.info a{
    color: #140b49;
    background-color: #8a85bc ;
    box-shadow: var(--shadow);
    margin-top: 1.5rem;
}

.info p{
    margin-top: 1.5rem;
}
.info a:hover{
    background-color: #140b49;
    color: #8a85bc;
}

.info .card{
    background-color: rgba(255, 255, 255, 0.3)!important;
    color: white !important;
    border: 1px solid #999;
    margin-top: 1.5rem;
    
}

.info .card-header{
    border-bottom:1px solid #999 ;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body{
    font-size: 1rem;
}

.info .card-footer{
    border-top:1px solid #999 ;
    font-size: 0.9rem;
    font-weight: 300;
}

.gallery{
    background-image: url(img/gallery-bg.jpg);
    color: white;
    min-height: 100vh;
    margin-top: -6.5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.gallery span{
    text-transform: uppercase;
    
}

    


/* Media Query  */
/* laptop */
@media (max-width: 992px) {
    html{
        font-size: 75%;
    }
    .simply-countdown>.simply-section{
        padding: 70px;
    }
}
/* tablet */
@media (max-width: 768px) {
    html{
        font-size: 65%;
    }

    .sticky-top{
        overflow: hidden;
    }
    .simply-countdown>.simply-section{
        padding: 60;
        margin: 5;
    }
}
/* mobile phone */
@media (max-width: 576px) {
    html{
        font-size: 60%;
    }
    .simply-countdown>.simply-section{
     padding: 45;
     margin: 3;   
    }
}